// ?About Section
.about-section {

    .about-text {
        margin-bottom: 8px;
    }

    .about-details .detail-label {
        display: inline-block;
        min-width: 100px;
        color: var(--accent-color);
    }
}

// ?Education & Experience Sections
.timeline {
    .timeline-title span {
        color: var(--accent-color);
        font-size: var(--fs-5);
    }
}

// ?Skills Section
.skills-section {
    width: 100%;
    max-width: 768px;
    margin-inline: auto;
}

.skill-item {
    text-align: center;
    flex: 0 1 calc(33.33% - var(--gap)* 2 / 3);

    .icon-box {
        color: var(--accent-color);
        font-size: 35px;
    }
}

// ?Responsive
@include media-query(null, $small-screen) {
    .about-summary {
        order: 2;
    }
}

@include media-query($small-screen) {
    .skill-item {
        .icon-box {
            font-size: 40px;
        }
    }
}