.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    min-height: 100vh;
    padding-bottom: 57px;
}

.profile-box {
    width: 230px;
    margin: 0 auto;
    border: 3px solid #252525;
    border-radius: 50%;
    box-shadow: 0 0 20px var(--shadow-color);
    background-color: var(--background-tertiary);
    aspect-ratio: 1;
    overflow: hidden;

    img {
        object-position: top;
    }
}

.home-details {
    text-align: center;

    .home-title span {
        color: var(--accent-color);
    }
    
    .home-description {
        margin-bottom: 20px;
    }
}

@include media-query($small-screen) {
    .home-details {
        max-width: 590px;
        margin: 0 auto;
    }
    .profile-box {
        width: 270px;
    }
}

@include media-query($medium-screen) {
    .home-content {
        padding-bottom: 0;
    }
}