.btn-group {
    display: inline-flex;
    gap: 8px;
    width: max-content;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 40px;
    width: max-content;
    padding-inline: 14px;
    border-radius: 20px;
    background: var(--accent-color);
    color: var(--text-primary);
    font-size: 14px;
    font-weight: 500;

    &.icon {
        aspect-ratio: 1;
        padding: 0;
        width: 40px;
    }
}

.btn-secondary {
    border: 1px solid var(--border-color);
    background-color: var(--background-tertiary);
}