.card {
    position: relative;
    box-shadow: var(--shadow-2);
    background: var(--brd-gradient);
    border-radius: 15px;
    padding: 20px;
    z-index: 1;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        inset: 1.5px;
        border-radius: inherit;
        background-color: var(--background-secondary);
        z-index: -1;
    }

    .icon-box {
        color: var(--accent-color);
        font-size: 35px;
    }
}

// ?responsive
@include media-query($xsmall-screen) {   
    .card {
        .icon-box {
            font-size: 40px;
        }
    }
}