.card {
    position: relative;
    box-shadow: var(--shadow-2);
    background: var(--brd-gradient);
    border-radius: 15px;
    padding: 20px;
    z-index: 1;
    overflow: hidden;

    &::before {
        content: "";
        position: absolute;
        inset: 1.5px;
        border-radius: inherit;
        background-color: var(--background-secondary);
        z-index: -1;
    }
}