:root {
    // Dark Colors
    --background-body: #{$background-body-dark};
    --background-primary: #{$background-primary-dark};
    --background-secondary: #{$background-secondary-dark};
    --background-tertiary: #{$background-tertiary-dark};
    --accent-color: #{$accent-color-dark};
    --text-primary: #{$text-primary-dark};
    --text-secondary: #{$text-secondary-dark};
    --text-tertiary: #{$text-tertiary-dark};
    --border-color: #{$border-color-dark};
    --shadow-color: #{$shadow-color-dark};

    // Shadows
    --shadow-1: -4px 8px 24px #00000040;
    --shadow-2: 0 16px 30px #00000040;

    --brd-gradient: #{$brd-gradient};
    --brd-gradient-hover: #{$brd-gradient-hover};
    --bg-gradient-hover: #{$bg-gradient-hover};

    // Fonts sizes
    --fs-1: 36px;
    --fs-2: 30px;
    --fs-3: 27px;
    --fs-4: 17px;
    --fs-5: 14px;
    --fs-6: 13px;
}

[data-theme="light"] {
    // Light Colors
    --background-body: #{$background-body-light};
    --background-primary: #{$background-primary-light};
    --background-secondary: #{$background-secondary-light};
    --background-tertiary: #{$background-tertiary-light};
    --accent-color: #{$accent-color-light};
    --text-primary: #{$text-primary-light};
    --text-secondary: #{$text-secondary-light};
    --border-color: #{$border-color-light};
    --shadow-color: #{$shadow-color-light};
}


// ?Responsive
@include media-query($small-screen) {
    :root {
        --fs-1: 45px;
    }
}

@include media-query($medium-screen) {
    :root {
        --fs-1: 55px;
        --fs-2: 40px;
        --fs-3: 30px;
        --fs-4: 18px;
        --fs-5: 15px;
        --fs-6: 14px;
    }
}