.navbar {
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 1px solid var(--border-color);
    backdrop-filter: blur(5px);
    z-index: 10;
    transition: transform 0.3s ease-in-out;

    &.hidden {
        transform: translateY(100%);
    }

    .navbar-list {
        display: flex;
        gap: 10px;
    }

    .navbar-item {
        flex: 1;

        span {
            display: none;
        }
    }

    .navbar-link {
        padding: 18px 25px;
        width: 100%;
        color: var(--text-primary);
        font-size: 16px;
        text-align: center;

        &.active,
        &:hover {
            color: var(--accent-color);
        }
    }

    .highlighter {
        position: absolute;
        height: 2px;
        background-color: var(--accent-color);
        transition: left .4s ease;
        z-index: 1;
    }
}

// ?Responsive
@include media-query($xsmall-screen) {
    .navbar {
        .navbar-link {
            padding: 20px 15px;
            font-size: 17px;
        }
    }
}

@include media-query($small-screen) {
    .navbar {
        .navbar-link {
            font-size: 18px;
        }
    }
}

@include media-query($medium-screen) {
    .navbar {
        right: 30px;
        bottom: 50%;
        width: fit-content;
        padding: 15px 5px;
        border: 1px solid var(--border-color);
        border-radius: 10px;
        box-shadow: 0 4px 6px -1px var(--shadow-color);
        background-color: var(--background-secondary);
        backdrop-filter: blur(0);
        transform: translateY(50%);

        .navbar-list {
            flex-direction: column;
            gap: 18px;
        }

        .navbar-item {
            position: relative;

            span {
                display: block;
                position: absolute;
                right: 50%;
                top: 50%;
                transform: translateY(-50%);
                border: 1px solid var(--border-color);
                border-radius: 6px;
                padding: 4px 10px;
                font-size: 14px;
                background-color: var(--background-secondary);
                color: var(--text-primary);
                text-transform: capitalize;
                opacity: 0;
                transition: all .3s;
                z-index: -1;
            }
        }
    
        .navbar-link {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            width: 50px;
            height: 50px;
            border-radius: 10px;
            font-size: 22px;

            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: inherit;
                background-color: var(--accent-color);
                transform: scale(0);
                transition: transform 0.3s ease;
                z-index: -1;
            }

            &:hover::before,
            &.active::before {
                transform: scale(1);
            }

            &:hover, &.active {
                color: var(--text-primary);
            }

            &:hover + span {
                width: auto;
                right: 120%;
                opacity: 1;
            }
        }

        .highlighter {
            display: none;
        }
    }
}